/* CONTACTO */
#contacto{
    text-align: center;
    padding: 40px 20px;
}

/* BOTON CONTACTO */
.contacto-btn {
    margin-top: 20px;
    padding: 14px 28px;

    background: rgba(255, 255, 255, 0.143);
    border: 1px solid rgba(255,255,255,0.1);

    color: #ffffff;
    font-size: 18px;

    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
}

.contacto-btn:hover {
    background: linear-gradient(135deg, #143ca0, #2563eb);
    transform: translateY(-2px);
}

/* FORMULARIO CONTACTO */
#contactoForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* INPUTS Y TEXTAREA */
#contactoForm input,
#contactoForm textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* TEXTAREA */
#contactoMensaje{
    resize: vertical;
    min-height: 120px;
}